<?xml version="1.0" encoding="utf-8"?>
<PluginDescriptor>
	<JavaPlugin>
		<interfaceClass>org.bimserver.plugins.renderengine.RenderEnginePlugin</interfaceClass>
		<implementationClass>de.weltweitbau.ThatOpenRenderEnginePlugin</implementationClass>
		<description>Render engine based on ThatOpen/engine_web-ifc</description>
		<name>ThatOpenRenderEngine</name>
	</JavaPlugin>
</PluginDescriptor>